@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h2>Loans</h2>

@foreach (var loan in ViewBag.Loans)
{
	<div class="card">
		<div class="card-body">
			<p>Id_Loan: @loan.Id_Loan</p>
			<p>Id_Book: @loan.Id_Book</p>
			<p>LoanDate: @loan.LoanDate</p>
			<p>DueDate: @loan.DueDate</p>
			<p>Finished: @loan.Finished</p>
		</div>
	</div>
}
@section Scripts
	{
	<script>
		// Signal R
		let connection = new signalR.HubConnectionBuilder().withUrl("/signalrhub", {
			skipNegotiation: true,
			transport: signalR.HttpTransportType.WebSockets
		}).build();
		let memberLoan = "MemberLoan" + @ViewBag.MemberId;
		connection.start()
			.then(function () {
				console.log('connection started');
				//console.info(memberLoan);
			})
			.catch(error => {
				console.error(error.message);
			});

		connection.on((memberLoan), function () {
			toastr.options = {
				"closeButton": true,
				"debug": false,
				"newestOnTop": true,
				"progressBar": true,
				"positionClass": "toast-bottom-right",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "300",
				"hideDuration": "1000",
				"timeOut": "10000",
				"extendedTimeOut": "5000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}
			toastr["info"]("", "New loan has been made")
		});
	</script>
}



