@model IEnumerable<Library7.Models.Section>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="IndxTbl">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Section">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_Section">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_Section">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#IndxTbl').DataTable();
        });
        //-------------
        // Signal R
        let connection = new signalR.HubConnectionBuilder().withUrl("/signalrhub", {
            skipNegotiation: true,
            transport: signalR.HttpTransportType.WebSockets
        }).build();

        connection.start()
            .then(function () {
                console.log('connection started');
            })
            .catch(error => {
                console.error(error.message);
            });

        connection.on(("LoanModification"), function () {
            console.log("success");
        });
    </script>
}
